.container {
    display: flex;
    height: 100vh;
    background-color: #003638;
}

.panel {
    background-color: #055052;
    width: 20%;
    padding: 10px 0;
}

.editor {
    background-color: #003638;
    padding: 10px;
    width: 40%;
    display: flex;
    flex-direction: column;
}

.preview {
    background-color: #003638;
    color: #F3F2C9;
    padding: 10px;
    width: 40%;
}

.menu {
    padding: 10px;
    text-align: right;
    display: flex;
    justify-content: space-between;
    gap: 5px;
}
